<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}


{% block main_content %} 
<main role="main">   
<div class="jumbotron d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="container text-center">
        <h1>Hello, researchers!</h1>
        <p style="margin-top: 10px;">Welcome to the Research Management System. We have a large collection of studies to cater the reading needs of all kinds of researchers.</p>
        <p style="margin-top: 30px;"><a role="button" href="{% url 'studies_list' %}" class="btn btn-info btn-lg">Browse studies >></a></p>
    </div>
</div>
</main>

<footer class="text-dark text-center" style="background-color: rgb(214, 212, 212); padding: 10px; height: auto;">
    <p>&copy; 2024 Research Management System. All Rights Reserved.</p>
    <p>
        <a href="#" class="text-primary">Privacy Policy</a> | 
        <a href="#" class="text-primary">Terms of Service</a> | 
        <a href="#" class="text-primary">Contact Us</a>
    </p>
</footer>



{% endblock %}
